* {margin: 0; 
padding: 0;
box-sizing: border-box;}

body {background-color:black;}

.heading1{display:flex;margin: auto;justify-content: center; 
font-family: Arial, Helvetica, sans-serif; font-variant: small-caps; color: lightgrey; font-stretch: ultra-expanded;}


.squaresUp{display: flex; justify-content: center;}


.squareRed { width: 50vw;; height: 40vh; 
background-color: red;}

.squareBlue { width:50vw; height: 40vh; ;
background-color: blue;}



.squaresDown { display: flex; justify-content: center;}

.squareGreen { width:50vw;height: 40vh;
background-color: green;}

.squareYellow { width: 50vw;height:40vh;
background-color: yellow;}


.buttons { position: relative;}

.start {display: flex;justify-content: center;margin: auto; 
    padding: 5px; border-width: 2px;border-radius: 3px; 
    font-family: Arial, Helvetica, sans-serif;
    font-variant:small-caps}

.next { position: absolute ; top: 0vh;left:40vw; margin: auto; 
    padding: 5px; border-width: 2px;border-radius: 3px; 
    font-family: Arial, Helvetica, sans-serif;
    font-variant:small-caps,}