* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    width: 100vw;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 550px;
    width: 550px;
    gap: 20px;
    margin: 50px auto;
  }
  
  .card {
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.75s ease;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  button {
    margin: 20px auto;
    padding: 20px 30px;
    border: none;
    font-size: 20px;
    background-color: #db8402;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: auto;
    display: block;
  }
  
  .results-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
  
  .correct-result {
    background-color: green;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  
  .wrong-result {
    background-color: red;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  
  /* ------------------------------------ */
  /* ---------- Helper classes ---------- */
  /* ------------------------------------ */
  
  .hidden {
    display: none;
  }